

.home-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.home-carasoul {
	display: flex;
	justify-content: center;
}

.home-header-left-side {
	padding: 5px;
	margin: 10px;
}

.home-header-right-side {
	padding: 5px;
	margin: 10px;
}

.home-body {
	background-color: black;
	color: white;
}

.movie-list {
}
