

.home-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.home-carasoul {
	display: flex;
	justify-content: center;
	height: 30vh;
	background-color: grey;
	padding: 10px;
	margin: 10px;
}

.home-header-left-side {
	padding: 5px;
	margin: 10px;
}

.home-header-right-side {
	padding: 5px;
	margin: 10px;
}

.home-body {
	background-color: black;
	color: white;
	padding: 10px;
}

.movie-card {
	background-color: grey;
	height: 20vh;
	padding: 10px;
	margin: 15px;
	flex-grow: 1;
}

.movie-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

@media only screen and (max-width: 475px) {
	.movie-card {
		width: 15vh;
	}
}


@media only screen and (max-width: 1024px) and (min-width: 476px){
	.movie-card {
		width: 20vh;
	}
}

