p{
	margin: 0;
	padding: 0;
}

.home-body > a {
	text-decoration: None;
	color: white;
}

.home-header {
	display: flex;
	flex-direction: row;
	font-size: xx-small;
	justify-content: space-between;
}

.home-header > button {
	font-size: xx-small;
}

.home-carasoul {
	display: flex;
	justify-content: center;
	height: 30vh;
	background-color: grey;
	padding: 10px;
	margin: 10px;
}

.carousel > img {
	height: 30vh;
	width: 100%;
}

.home-header-left-side {
	padding: 5px;
	margin: 10px;
}

.home-header-right-side {
	padding: 5px;
	margin: 10px;
}

.home-body {
	background-color: black;
	color: white;
	padding: 10px;
}

.movie-card {
	background-color: grey;
	padding: 10px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	font-size: xx-small;
}

.movie-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}


.movie-card-title {
	text-align: center;
	margin: auto;
}

@media only screen and (max-width: 475px) and (min-width: 438px){
	.movie-card {
		width: 18vh;
	}
	.movie-card-images {
		width: 18vh;
		height: 20vh;
	}
}


@media only screen and (max-width: 2048px) and (min-width: 476px){
	.movie-card {
		width: 20vh;
	}
	.movie-card-images {
		width: 20vh;
		height: 20vh;
	}
}

@media only screen and (max-width: 437px) and (min-width: 432px){
	.movie-card {
		width: 17vh;
	}
	.movie-card-images {
		width: 17vh;
		height: 20vh;
	}
}

@media only screen and (max-width: 432px) and (min-width: 334px){
	.movie-card {
		width: 16vh;
		font-size: medium;
	}
	.movie-card-images {
		width: 16vh;
		height: 20vh;
	}
}

@media only screen and (max-width: 333px) and (min-width: 0px){
	.movie-card {
		width: 15vh;
		font-size: medium;
	}
	.movie-card-images {
		width: 15vh;
		height: 20vh;
	}
}


