p{
	margin: 0;
	padding: 0;
	font-size: medium;
}

.watch-player {
	margin: 5px;
}

.watch-body {
	background-color: black;
	color: white;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: xx-small;
	height: 100vh;
}

.watch-movie-desc {
	display: flex;
	margin: 5vh 15px 15px 15px;
	padding: 10px;
	font-size: xx-small;
}

.watch-movie-info {
	margin: 5px;
	padding: 5px;
}

.watch-movie-list {
	display: flex;
	align-items: flex-start !important;
	flex-direction: column;
}

.movie-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}


